<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чек</title>
    <style>
        p {
            font-family: sans-serif;
            font-size: 18pt;
        }
        body {
            margin: 0 0 0 5px;

        }
        .wrapper {
            margin: 0 40pt 0 0;
        }
        .center {
            display: block; margin: 0 auto;
        }
        .tg  {border-collapse:collapse;border-spacing:0;width:25em;}
        .tg td{font-family:Arial, sans-serif;font-size:18pt;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
        .tg th{font-family:Arial, sans-serif;font-size:18pt;font-weight:normal;padding:10px 5px;border-width:0px;overflow:hidden;word-break:normal;}
        .tg .tg-lqy6{text-align:right;vertical-align:top}
        .tg .tg-yw4l{vertical-align:top}
    </style>
</head>
<body>
<img src="{{ main }}" class='center' alt=""  height="149" />
<div class="wrapper">
    <p align="justify">
        <strong>Чек №:</strong>
        {{ voucher }}		</p>
    <p align="justify">
        <strong>Дата:</strong>
        {{ data }}		</p>
    <p align="justify">
        <strong>Стол:</strong>
        {{ desk }}		</p>
    <p align="justify">
        <strong>Открыт:</strong>
        {{ start }}		</p>
    <p align="justify">
        <strong>Закрыт:</strong>
        {{ end }}		</p>
    <p align="justify">
        <strong>Гость:</strong>
        {{ user }}
    </p>
    <p align="justify">
        <strong>Гостей:</strong>
        {{ count }}		</p>
    <p>__________________________________</p>

    <table class="tg">
        <tr>
            <th class="tg-yw4l">Услуга:</th>
            <th class="tg-lqy6">Кол-во:</th>
            <th class="tg-lqy6">Сумма:</th>
        </tr>

        {% for service in services %}
            <tr>
                <td class="tg-yw4l">{{ service.name}}</td>
                <td class="tg-lqy6">{{  service.count }}</td>
                <td class="tg-lqy6">{{ service.price }}</td>
            </tr>

        {% endfor %}

    </table>
    <p>__________________________________</p>
    <p style="display: flex; justify-content: space-between; align-items: baseline;">
        <strong>Всего: </strong> <span style="text-align: right;">{{ total }}</span>
    </p>
    <p>__________________________________</p>

    <div class='center' style="width: 90%;">
        <p style="text-align: center;">{{ phrase }}</p>
        <div style="display: flex;height: 20pt;align-items: center; justify-content: center;">
            <img src="{{ insta }}" align="bottom" width="19" height="19" border="0" /><p style="margin-left: 3pt;">{{ instaText }}</p>
        </div>
        <div style="display: flex;height: 20pt;align-items: center; justify-content: center;">
            <img src="{{ vk }}" align="bottom" hspace="1" vspace="1" width="18" height="18" border="0" /><p style="margin-left: 3pt;">{{ vkText }}</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    setTimeout(function() {
        window.print();
    }, 100)
</script>
</html>